<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Corrida</title>
		
		
	</head>
	<body>
		<h1>XVII Corrida do divino Espírito Santo</h1>
		
		<form action="/register" method="post">
			<div>
				<label for="enrollmentDate">Data de inscrição:</label>
				<input type="date" name="enrollmentDate" />
			</div>
			<div>
				<label for="enrollmentNumber">N° de inscrição:</label>
				<input type="number" name="enrollmentNumber" />
			</div>
			<div>
				<label for="bornDate">Data de nascimento:</label>
				<input type="date" />
			</div>
		</form>
	</body>
</html>