<!DOCTYPE html>
<html lang="pt-br">
	<head>
		  <meta charset="UTF-8">
		  <title>Sucesso</title>
	</head>
	<body>
		<h3>
			<span th:text="${name}"></span>, sua mensagem foi enviada com sucesso!
		</h3>
		
		<h4>Informações do usuário:</h4>
			
		<table>
			<tr>
				<th>Name:</th>
				<th>Telefone:</th>
				<th>E-mail:</th>
				<th>Quer receber novidades?</th>
				<th>Texto:</th>
				<th>CPF:</th>
				<th>RG:</th>
			</tr>
			<tr>
				<td th:text="${name}"></td>
				<td th:text="${phone}"></td>
				<td th:text="${email}"></td>
				<td th:text="${isNews}"></td>
				<td th:text="${text}"></td>
				<td th:text="${cpf}"></td>
				<td th:text="${rg}"></td>
			</tr>
		</table>
	</body>
</html>
