<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Web3 inglês</title>
	
	<style>
		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: 'Roboto', sans-serif;
		}
		
		body{
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			gap: 1rem;
			margin-top: 1rem;
		}
		
		a { 
			text-decoration: none;
			padding: .7rem 1rem;
			border: 1px solid #000;
			background-color: #f1f1f1;
			border-radius: 5px;
			text-align: center;
			transition: all ease-out .2s;
		}
		
		a:hover {
			filter: brightness(.9);
		}
	</style>
</head>
<body>
	<h1>Web3 inglês</h1>
	<a title="Voltar" href="/ind">Back</a>
	<p>
		people of informatics
	</p>
</body>
</html>